USE [master]
GO
/****** Object:  Database [Hastane]    Script Date: 10.10.2022 23:23:15 ******/
CREATE DATABASE [Hastane]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Hastane', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Hastane.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Hastane_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Hastane_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Hastane].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Hastane]
GO
/****** Object:  Table [dbo].[Doktorlar]    Script Date: 10.10.2022 23:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doktorlar](
	[Tc] [bigint] NOT NULL,
	[Ad] [nvarchar](15) NOT NULL,
	[Soyad] [nvarchar](15) NOT NULL,
	[Klinik] [nvarchar](50) NOT NULL,
	[Sifre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Doktorlar] PRIMARY KEY CLUSTERED 
(
	[Tc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hasta_Kabul]    Script Date: 10.10.2022 23:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hasta_Kabul](
	[Tc] [bigint] NOT NULL,
	[Ad] [nchar](20) NULL,
	[Soyad] [nchar](20) NULL,
	[Cinsiyet] [nchar](20) NULL,
	[Kan_Grubu] [nchar](10) NULL,
	[DogumTarihi] [datetime] NULL,
	[Dogumyeri] [nvarchar](50) NULL,
	[Anneadi] [nvarchar](50) NULL,
	[BabaAdi] [nchar](10) NULL,
	[CepTelefon] [nchar](16) NULL,
	[EPosta] [nchar](30) NULL,
	[Adres] [nchar](100) NULL,
 CONSTRAINT [PK_Hasta_Bilgileri] PRIMARY KEY CLUSTERED 
(
	[Tc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hasta_Kayit]    Script Date: 10.10.2022 23:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hasta_Kayit](
	[Tc] [bigint] NOT NULL,
	[Ad] [nvarchar](20) NOT NULL,
	[Soyad] [nvarchar](20) NOT NULL,
	[Cinsiyet] [nvarchar](5) NULL,
	[Kan_Grubu] [nvarchar](7) NULL,
	[DogumTarihi] [datetime] NULL,
	[Dogumyeri] [nvarchar](11) NULL,
	[AnneAdi] [nvarchar](15) NULL,
	[BabaAdi] [nvarchar](15) NULL,
	[CepTelefon] [nvarchar](16) NULL,
	[EPosta] [nvarchar](50) NOT NULL,
	[Adres] [nvarchar](100) NULL,
	[Sifre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Hasta_Kayit] PRIMARY KEY CLUSTERED 
(
	[Tc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Randevu]    Script Date: 10.10.2022 23:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Randevu](
	[Klinik] [nvarchar](50) NOT NULL,
	[Tc] [bigint] NOT NULL,
	[Doktor] [nvarchar](50) NOT NULL,
	[Tarih] [nvarchar](50) NOT NULL,
	[Saat] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Randevu] PRIMARY KEY CLUSTERED 
(
	[Saat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yonetici]    Script Date: 10.10.2022 23:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yonetici](
	[Tc] [bigint] NOT NULL,
	[Ad] [nvarchar](15) NOT NULL,
	[Soyad] [nvarchar](15) NOT NULL,
	[Sifre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Yonetici] PRIMARY KEY CLUSTERED 
(
	[Tc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
